/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.setting-item.snippets-downloader-settings {
	border: none;
	padding: 0.5em 1em;
}
summary.snippets-downloader-summary {
	height: 2em;
	margin-bottom: 1em;
}
.setting-item.snippets-downloader-options {
	top:-2em;
	position: relative;
}

button.snippets-downloader-button {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
